-@ val message: Option[String] = None

form.form-signin(action='/users' method='post')
    h2.form-signin-heading Please register
    - message.foreach { message =>
        .alert.alert-danger= message
    - }
    input.form-control(name='email' type='text' placeholder='Email address' autofocus='autofocus')
    input.form-control(name='password' type='password' placeholder='Password')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
